.goals{
    overflow-x: hidden;
    overflow-y: hidden;
}
.goals h1{
    margin-left: 20px;
}
.goals .boxes{
    margin-left:20px ;
}
.goals .boxes .box{
    margin-top: 10px;
    padding: 15px;
    width: 80%;
    background: #F1F1F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    height: 6vh;
    font-size: 18px;
    font-weight: 700;
}

.box input{
    width: 20px;
}

.confirm{
    margin-top: 2vh;
}
.confirm button{
    margin-top: 5vh;
    display: block;
    color: white;
    margin-left: 10px;
    width: 90%;
    height: 8vh;
    border-radius: 12px;
    background: linear-gradient(270deg, #7b91ff 0%, #95beff 100%);
    border: none;
    padding-left: 14px;
}